# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# Mac Files
.DS_Store

# Logs
*.log

# Static collected files
staticfiles/